.page {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    justify-content: center;
  }
  &__item {
    margin: 0 12px;
    max-width: 20%;
    width: 100%;
    margin-bottom: 10px;
  }
}
