.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 2px solid #bfbaba;
  padding: 16px 16px 16px;
  background: #fcfcfc;
  overflow: hidden;
  height: 100%;
  &:hover {
    border: 2px solid #e9e9e9;
    background: #e9e9e9;
  }
  span {
    display: block;
  }
  &__img {
    margin: 0 auto 15px;
    width: 150px;
    height: 150px;
    position: relative;
    background-size: cover;
  }

  span.product-card__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
  }
  // .product-card__name

  &__name {
    color: #0e3e4e;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
  }

  // .product-card__brand

  &__brand {
    text-align: center;
    color: #949292;
    font-size: 14px;
    font-weight: 400;
  }

  // .product-card__kcal

  &__kcal {
    color: #0e3e4e;
    font-size: 24px;
    font-weight: 700;
  }
}
