.dropdown-data {
  // .dropdown-data__wrap

  &__wrap {
    position: relative;
  }

  // .dropdown-data__label

  &__label {
    margin-bottom: 7px;
    font-size: 14px;
    color: var(--addition-dark-color);
  }
  &.show{
    .dropdown-data__title::after{
      transform: rotate(180deg);
    }
    .dropdown-data__list{
      z-index: 9;
      opacity: 1;
    }
  }
  &__title {
    &::after{
      content: '';
      display: inline-block;
      width: 15px;
      height: 20px;
      vertical-align: middle;
      background:center/cover no-repeat url("../../imgs/down-arrow.png");
    }
    cursor: pointer;
    background-color: var(--button-grey-bg);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .dropdown-data__list

  &__list {
    width: 100%;
    border-radius: 15px;
    background-color: var(--button-grey-bg);
    overflow: hidden;
    position: absolute;
    opacity: 0;
    z-index: -99;
  }

  // .dropdown-data__item

  &__item {
    &:last-of-type {
      padding-bottom: 10px;
    }
    &:first-of-type {
      padding-top: 10px;
    }
    &:hover {
      background-color: var(--button-green-bg);
      color: var(--addition-text-color);
    }
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
}
