.radio-button {
  margin: 0 10px 10px;

  &__input {
    &:checked + label {
      &::before {
        background: center/contain no-repeat url(/checked-radion.svg);
      }
    }
    display: none;
  }

  // .radio-button__label

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      border-radius: 50%;
      margin-right: 5px;
      background: center/contain no-repeat url("/df-radio.svg");
    }
  }
}
