:root {
  --main-text-color: #212529;
  --addition-dark-color: #444a54;
  --addition-text-color: #fff;
  --addition-grey-color: #63686e;
  --addition-yellow-color: #FFBE61;

  --button-green-bg: #6acc00;
  --button-grey-bg: #f2f4f8;
}
