.nutrition-card {
  margin: 0 15px;
  max-width: 500px;
  width: 100%;
  color: var(--addition-dark-color);
  &__wrap {
    position: relative;
    height: 788px;
    overflow: hidden;
    box-shadow: 0 -1px 10px 4px #dadada;
    background: var(--addition-text-color);
    padding: 18px;
    border-radius: 15px;
    &.show {
      height: auto;
    }
  }

  // .nutrition-card__info

  &__info {
  }

  // .nutrition-card__title

  &__title {
    font-weight: bold;
    font-size: 38px;
    margin: 0 0 0.25rem 0;
    border-bottom: 1px solid #ddd;
  }

  // .nutrition-card__size

  &__size {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #e8e8e8;
  }

  // .nutrition-card__box

  &__box {
    padding: 15px 0;
    border-bottom: 5px solid #e8e8e8;
  }

  // .nutrition-card__label

  &__label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  // .nutrition-card__cal

  &__cal {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }

  // .nutrition-card__generals

  &__generals {
    padding: 10px 0;
  }

  // .nutrition-card__inner

  &__inner {
  }

  // .nutrition-card__item

  &__item {
  }
}
.expand {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  &__button {
    font-size: 15px;
    margin-bottom: 15px;
    background: var(--button-green-bg);
    color: var(--addition-text-color);
    padding: 10px 15px;
    border-radius: 15px;
  }
}
.nutrition {
  // .nutrition__title
  &__desc {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 5px 15px;
    border-bottom: 1px solid #e8e8e8;
  }
  &__title {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
  }
}
