.search {
  margin: 25px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  // .search__wrap

  &__wrap {
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 -1px 10px 4px #dadada;
    display: flex;

    justify-content: space-between;
    align-items: stretch;
  }

  // .search__input

  &__input {
    padding: 15px 10px;
    width: 100%;
  }

  // .search__button

  &__button {
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/search.svg);
    max-width: 130px;
    width: 100%;
    border-radius: 15px 0 0px 15px;
  }
}
