.categories-type {
  // .categories-type__wrap

  &__wrap {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 -1px 10px 4px #dadada;
  }

  // .categories-type__title

  &__title {
    padding: 15px;
    background: var(--button-green-bg);
    color: var(--addition-text-color);
    font-weight: 700;
    font-size: 30px;
    list-style: 35px;
  }

  // .categories-type__box

  &__box {
  }

  // .categories-type__item

  &__item {
    &:hover,
    &.active {
      background-color: var(--button-grey-bg);
      font-weight: 600;
    }
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
  }
}
