.criteria {
  // .criteria__row

  &__row {
  }

  // .criteria__dropdown

  &__dropdown {
  }

  // .criteria__title

  &__title {
    position: relative;
    span {
      cursor: pointer;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: var(--light-colors-grey);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      &::after {
        content: "🢓";
        margin-left: 6px;
        width: 18px;
        height: 18px;
        min-width: 18px;
        display: inline-block;
        top: 5px;
        font-size: 18px;
        position: relative;
      }
    }
  }
}
.drop {
  max-height: 300px;
  height: max-content;
  overflow-y: scroll;
  z-index: 1;
  padding: 8px 0;
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--light-font-white);

  &__item {
    cursor: pointer;
    margin: 0;
    padding: 8px 16px;
    &:hover {
      background: #f5f4fb;
    }
  }
}
