.data-type {

  // .data-type__title

  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  // .data-type__desc

  &__desc {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}
