.data-card {
  // .data-card__wrap

  &__wrap {
    margin-top: -50px;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    margin: -50px -15px 0;
  }

  // .data-card__box

  &__box {
    margin: 0 15px;
    border-radius: 15px;
    overflow: hidden;
    height: 250px;
    width: 100%;
    position: relative;
    box-shadow: 0 -1px 10px 4px #dadada;
    top: 0;
    &:hover {
      top: -10px;
      .data-card__content {
        opacity: 1;
       
      }
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(155, 164, 181, 0.5);
      }
    }

    &_0 {
      background: center/cover no-repeat url(../imgs/blueberries.jpg);
    }
    &_1 {
      margin-top: -50px;
      background: center/cover no-repeat url(../imgs/honey.jpg);
    }
    &_2 {
      background: center/cover no-repeat url(../imgs/baked.jpg);
    }
    &_3 {
      margin-top: -50px;
      background: center/cover no-repeat url(../imgs/shangha.jpg);
    }
  }
  // .data-card__content

  &__content {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: var(--addition-text-color);
  }

  // .data-card__info

  &__info {
    text-align: center;
  }

  // .data-card__title

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }

  // .data-card__link

  &__link {font-size: 15px;
    
  }
}
