.main-dropdown {
  // .main-dropdown__wrap
  &.show {
    .main-dropdown__list {
      opacity: 1;
      z-index: 99;
    }
    .main-dropdown__title::after {
      transform: rotate(180deg);
    }
  }
  &__wrap {
  }

  // .main-dropdown__label

  &__label {
    text-transform: capitalize;
    margin-bottom: 7px;
    font-size: 14px;
    color: var(--addition-dark-color);
    display: block;
  }
  &__title {
    cursor: pointer;
    background-color: var(--button-grey-bg);
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      display: inline-block;
      width: 15px;
      height: 20px;
      background: center/cover url(../../imgs/down-arrow.png);
    }
  }
  // .main-dropdown__list

  &__list {
    opacity: 0;
    z-index: -99;
    background-color: var(--button-grey-bg);
    border-radius: 15px;
    overflow: hidden;
  }

  // .main-dropdown__item

  &__item {
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 10px;
    }
    &:first-of-type {
      padding-top: 10px;
    }
    &:hover {
      background-color: var(--button-green-bg);
      color: var(--addition-text-color);
      cursor: pointer;
    }
    text-transform: capitalize;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
}
